/*.container {*/
   /*margin: 0 auto;*/
    /*background-color: rgba(250, 171, 208, 0.8);*/
    /*height: 200vh;*/
    /*width: 33vw;*/
    /*border-radius: 10px;*/
/*}*/

/*.completed-container {*/
    /*background-color: cadetblue;*/
    /*height: 200vh;*/
    /*width: 33vw;*/
    /*float: left;*/
    /*border-radius: 10px;*/
/*}*/

/*.create-task-container {*/
    /*background-color: aquamarine;*/
    /*height: 30vh;*/
    /*width: 30vw;*/
    /*border-radius: 10px;*/
    /*margin: 0 auto;*/
/*}*/

.active-task {
    background-color: palevioletred;
    margin: 0 auto 1% auto;
    height: 30%;
    width: 30%;
    border-radius: 10px;

}

.completed {
    background-color: springgreen;
    margin: 0 auto 1% auto;
    height: 30%;
    width: 30%;
    border-radius: 10px;
}

